* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
}

* input {
    outline: none;
}

.index,
.simulador,
.cadastro,
.login,
.dashboard,
.perfil,
.sobre,
.game,
.contato {
    background-image: url(https://www.actionacademia.com.br/background2.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.box-navbar {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: solid red;
    border-radius: 30px;
}

.navbar {
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: large;
    font-weight: 700;
}

.box-navbar .navbar a {
    text-decoration: none;
    color: white;
}

.box-navbar .navbar a:hover {
    color: red;
}

.box-navbar .navbar .underline {
    text-decoration: underline red 5px;
}

.index .container-banner {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;
}

.index .box-mensagem {
    color: white;
    font-size: large;
}

.index .box-mensagem h1 span {
    color: red;
    animation: mudar-cor 2s infinite;
}

@keyframes mudar-cor {
    0% {
        color: red;
    }

    50% {
        color: white;
    }
}

.index .box-botao {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.index .box-botao .botao {
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.index .box-botao .botao:hover {
    transform: scale(1.2);
}

.index .box-botao .botao a {
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 30px;
    padding: 5%;
    border-bottom: solid red;
}

.index .box-botao .botao a:hover {
    background-color: rgba(255, 0, 0, 0.7);
    border-bottom: solid black;
}

footer {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container-footer {
    max-width: 960px;
    margin: 0 auto;
}

p {
    margin: 0;
    font-size: 14px;
}

.simulador .calculadora {
    width: 30%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: solid red;
    border-radius: 30px;
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.simulador .calculadora input,
select {
    width: 90%;
    height: 10%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 30px;
    font-size: larger;
}

.simulador .calculadora button {
    width: 45%;
    height: 10%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 30px;
    font-size: larger;
    cursor: pointer;
}

.simulador .calculadora button:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.7);
    border: solid black;
}

.simulador .calculadora button {
    transition: transform 0.3s ease-in-out;
}

.simulador .calculadora button:hover {
    transform: scale(1.2);
}


.simulador .calculadora option {
    color: black;
}

.simulador .calculadora ::placeholder {
    color: white;
}

.simulador .mensagem {
    width: 30%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: solid red;
    border-radius: 30px;
    margin: auto;
    margin-right: -15%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    font-size: x-large;
}

.simulador .container-simulador {
    display: flex;
}

.cadastro .box-cadastro {
    width: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: solid red;
    border-radius: 30px;
    margin: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.cadastro .box-cadastro input {
    width: 90%;
    height: 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 30px;
    font-size: larger;
    margin-bottom: 7%;
}

.cadastro .box-cadastro button {
    width: 45%;
    height: 35px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 30px;
    font-size: larger;
    cursor: pointer;
    margin-bottom: 7%;
}

.cadastro .box-cadastro button:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.7);
    border: solid black;
}

.cadastro .box-cadastro button {
    transition: transform 0.3s ease-in-out;
}

.cadastro .box-cadastro button:hover {
    transform: scale(1.2);
}

.cadastro .box-cadastro ::placeholder {
    color: white;
}

.login .box-login {
    width: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: solid red;
    border-radius: 30px;
    margin: auto;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.login .box-login input {
    width: 90%;
    height: 10%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 30px;
    font-size: larger;
    margin-bottom: 7%;
}

.login .box-login button {
    width: 45%;
    height: 10%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 30px;
    font-size: larger;
    cursor: pointer;
    margin-bottom: 7%;
}

.login .box-login button:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.7);
    border: solid black;
}

.login .box-login button {
    transition: transform 0.3s ease-in-out;
}

.login .box-login button:hover {
    transform: scale(1.2);
}

.login .box-login ::placeholder {
    color: white;
}

.dashboard .box-dashboard {
    width: 300px;
    height: 300px;
}

.dashboard .box-perfil img {
    height: 100px;
    width: 100px;
    margin-top: 5%;
    align-self: center;
}

.dashboard .box-dashboard {
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: 10%;
    justify-content: space-around;
}

.dashboard .box-dashboard .box-perfil {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    border-radius: 30px;
    margin-top: 6%;
    font-size: large;
    border: solid red;
}

.dashboard .box-dashboard .grafico {
    height: 50%;
    width: 50%;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
    border-radius: 30px;
    border-bottom: solid red;
    margin-top: 5%;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    ;
}

.dashboard .box-dashboard .grafico:hover {
    transform: scale(1.2);
}

.perfil .container-perfil .box-perfil,
.idade,
.peso,
.altura,
.calorias {
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: 10%;
    justify-content: space-around;
}

.perfil .box-perfil {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    border-radius: 30px;
    margin-top: 2%;
    font-size: large;
    border-bottom: solid red;
}

.perfil .box-perfil img {
    height: 100px;
    width: 100px;
    align-self: center;
}

.perfil .idade,
.peso,
.altura,
.calorias {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border-radius: 30px;
    margin-top: 2%;
    font-size: large;
    border-bottom: solid red;
    text-align: center;
    font-size: larger;
    padding: 1%;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.perfil .idade:hover,
.peso:hover,
.altura:hover,
.calorias:hover {
    transform: scale(1.2);
}

.perfil .inputs {
    display: flex;
    justify-content: center;
    margin-right: 9%;
}

.perfil .inputs input {
    width: 90%;
    height: 10%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 30px;
    font-size: larger;
}

.perfil .botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}

.perfil .botao button,
.perfil .botao a {
    display: flex;
    justify-content: center;
    width: 10%;
    height: fit-content;
    text-align: center;
    margin: 1%;
    color: white;
    background-color: rgba(0, 0, 0, 7);
    border: solid red;
    border-radius: 30px;
    font-size: x-large;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.perfil .botao button:hover,
.perfil .botao a:hover {
    background-color: rgba(255, 0, 0, 0.7);
    border: solid black;
    transform: scale(1.2);
}

.sobre .box-sobre {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 7%;
}

.sobre .box-sobre img {
    width: 500px;
    height: 300px;
    border-radius: 30px;
    border-bottom: solid red;
    ;
}

.sobre .box-sobre .mensagem {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: solid red;
    border-radius: 30px;
    padding: 2%;
    margin-right: 10%;
    height: fit-content;
    font-size: larger;
    text-align: center;
}

.game .box-game {
    width: 30%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: solid red;
    border-radius: 30px;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
}


.game .box-game h1 {
    font-size: 300%
}

.game .box-game p {
    font-size: x-large
}

.game .box-game .contador {
    font-size: xx-large
}

.game .box-game button {
    width: 30%;
    height: 25%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 100%;
    font-size: larger;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.game .box-game button:hover {
    background-color: rgba(255, 0, 0, 0.7);
    border: solid black;
    transform: scale(1.2);
}

.game .trofeu {
    margin-bottom: 10%;
}

.game .container-game {
    display: flex
}

.game .box-trofeu {
    width: 12%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid red;
    border-radius: 30px;
    margin: auto;
    margin-top: 2%;
    margin-right: -20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
}

.game .box-trofeu .mensagem {
    font-size: xx-large;
}


.contato .box-contato {
    width: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: solid red;
    border-radius: 30px;
    margin: auto;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.contato .box-contato input {
    width: 90%;
    height: 10%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 30px;
    font-size: larger;
    margin-bottom: 7%;
}

.contato .box-contato button {
    width: 45%;
    height: 10%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 30px;
    font-size: larger;
    cursor: pointer;
    margin-bottom: 7%;
}

.contato .box-contato button:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.7);
    border: solid black;
}

.contato .box-contato button {
    transition: transform 0.3s ease-in-out;
}

.contato .box-contato button:hover {
    transform: scale(1.2);
}

.contato .box-contato ::placeholder {
    color: white;
}

.contato textarea {
    max-width: 100%;
    width: 400px;
    max-height: 20px;
    resize: none;
    padding: 1.5%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid red;
    border-radius: 30px;
    font-size: larger;
    margin-bottom: 7%;
    outline: none;
}

.contato textarea:placeholder-shown {
    font-size: 20px;
    text-align: center;
}

.contato textarea::-webkit-scrollbar {
    width: 10px;
}

.contato textarea::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
}

.contato textarea::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}